<article class="project-card-style-2">
	<div
		class="card-wrapper">
		{# thumbnail #}
		<div class="thumbnail" style="background-image: url('{{ thumbnail }}')"></div>
		<div class="content">
			<div class="title">
				<a href="{{ href }}">{{ title }}</a>
			</div>
			<div class="summary">{{ summary }}</div>
			{# READ MORE button #}
			<a href="{{ href }}" class="read-more-btn">Explore</a>
		</div>
	</div>
</article>
